<div id="aboutSection">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 id="aboutHead"><span class="gold">About</span></h1>
			</div>
		</div>

		<div class="row-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<p id="aboutText">The Dutchess University <em><strong>Incident Reporter</strong></em> 
				is a web tool used to bolster public safety throughout campus. All 
				faculty, staff, and student body members are able to register an account
				with the system by using their provided Dutchess University email address.
				Once logged-in, a new incident report can be submitted. The appropriate
				emergency or non-emergency response team will be notified when
				reports are created. Additionally, all active and resolved reports
				are viewable from the homepage.</p>
				<br>
			</div>
		</div>

	</div>
</div>