<section id="contactSection">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<br>
				<h4 class="contactHead">For general questions or comments, please contact:</h4>
				<h3 class="contactHead">Tina Ashby</h3>
				<h4 class="contactHead">(919) 694-4510</h4>
				<h4 class="contactHead"><a href="mailto:tina.ashby@dutchess.edu">tina.ashby@dutchess.edu</a></h4>
				<br>
				<h4 class="contactHead">For technical questions or comments related to the site, please contact:</h4>
				<h3 class="contactHead">
					<em>Incident Reporter</em><br> 
					Developer Team
				</h3>
				<h4 class="contactHead"><a href="mailto:ireporter@dutchess.edu">ireporter@dutchess.edu</a></h4>
				<br>
			</div>
		</div>
	</div>
</section>
