<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <% if logged_in? %> 
        <%= link_to image_tag("logo.png", :alt => "Dutchess University logo", :id => "logo"), home_path %>
      <% else %>
        <%= link_to image_tag("logo.png", :alt => "Dutchess University logo", :id => "logo"), root_url %>
      <% end %>

      <div id="subtitleSlot">
      	<h1 id="subtitle"><%= link_to "Incident Reporter", home_path %></h1>
      	<hr>
      </div>

    </div>
  </div>
</div>