<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> 
			<h1>Hello, <%= current_user.first_name+' '+current_user.last_name %></h1>
<span><%= link_to "view profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "report") %></span>